@model DevolucionViewModel
@{ 
    var fechaIngreso = ViewBag.FechaIngreso;
}
<a href="@Url.Action("Index","Devolucion")"><i class="fas fa-arrow-circle-left"> Regresar</i></a>
<hr />

<div class="card o-hidden border-0 shadow-lg my-0">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Informe de devoluciones de mercaderia.</h1>
                    </div>
                    <form method="post" action="~/Devolucion/Edit">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="fechaIngresoDevolucion" class="col-form-control">Fecha ingreso:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" class="form-control form-control-sm" id="fechaIngresoDevolucion"
                                       name="FechaIngreso" value="@fechaIngreso" data-val="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="cantidadDevolucion" class="col-form-control">Cantidad:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" id="cantidadDevolucion"
                                       name="Cantidad" value="@Model.Cantidad" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="productoDevolucion" class="col-form-control">Producto:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" id="productoDevolucion"
                                       name="Producto" value="@Model.Producto" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="motivoDevolucion" class="col-form-control">Motivo devolución:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" id="motivoDevolucion"
                                       name="MotivoDevolucion" value="@Model.MotivoDevolucion" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="facturaDevolucion" class="col-form-control">Factura:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" id="facturaDevolucion"
                                       name="Factura" value="@Model.Factura" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="fechaFacturaDevolucion" class="col-form-control">Fecha factura:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control form-control-sm" id="fechaFacturaDevolucion"
                                       name="FechaFactura" value="@Model.FechaFactura" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="responsableRecepcionDevolucion" class="col-form-control">Responsable recepción:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" id="responsableRecepcionDevolucion"
                                       name="ResponsableRecepcion" value="@Model.ResponsableRecepcion" />
                            </div>
                        </div>
                        <button class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

