@model List<DevolucionViewModel>
@{
    ViewBag.Title = "Listado de devoluciones";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Listado de devoluciones</h1>
<p class="mb-4">
    A continuación podrá visualizar el listado de devoluciones en formato tabla.
</p>

<div class="text-right">
    <a href="@Url.Action("Create","Devolucion")" class="btn btn-success btn-circle btn-sm"><i class="fas fa-plus-circle"></i>
    </a>
</div>

<hr />
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Factura</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            @if(item.FechaIngreso == null)
                            {
                                <td>@item.FechaIngreso</td>
                            }
                            else
                            {
                                <td>@item.FechaIngreso.Value.ToString("dd/MM/yyyy")</td>
                            }
                            @*<td>@(item.FechaIngreso == null ? item.FechaIngreso : item.FechaIngreso.Value.ToString("d/M/yyyy"))</td>*@
                            <td>@item.Producto</td>
                            <td>@item.Factura</td>
                            <td>
                                <a href="@Url.Action("Details","Devolucion", new { @id = item.Id })" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="@Url.Action("Edit","Devolucion", new { @id = item.Id })" class="btn btn-primary btn-circle btn-sm">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="@Url.Action("Delete","Devolucion", new { @id = item.Id })" class="btn btn-danger btn-circle btn-sm" 
                                   onclick="return confirm('Está seguro de eliminar: @item.Producto ?')">
                                <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>